/*
 * KUI 框架
 */
 /*初始化类*/
@charset "UTF-8";
/*html{
	font-family: sans-serif;
}
html,body {
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select:none;
	width: 100%;
	height: 100%;
}
body {
	line-height: 1.5;
	font-size: 16px;
	color: #000;
	background-color: #f4f4f4;
	outline: 0;
}
html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	border:0;
	padding:0;
	font-style:normal;
}
ul, li {
	overflow: hidden;
	list-style: none;
}
b,strong {
	font-weight: 700;
}
pre {
	overflow: auto;
}
img {
	border: 0;
}
p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
	color: #8f8f94;
}
a {
	color: #0062cc;
	text-decoration: none;
	background-color: transparent;
}
a:hover {
	outline: 0;
}

textarea {
	overflow: hidden;
	resize: none;
}
button {
	overflow: visible;
}
button,select {
	text-transform: none;
}
button,input,optgroup,select,textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}

hr {
	height: 0;
	-webkit-box-sizing: content-box;
	 -moz-box-sizing: content-box;
	      box-sizing: content-box;
}
pre {
	overflow: auto;
}
*/
ul, li {
	padding: 0;
	margin: 0;
	overflow: hidden;
	list-style: none;
}
/*自动移动文字*/
.kui-ellipsis-1 {
	padding-right: 15px;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: normal !important;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.kui-ellipsis-2 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: normal !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
* {

	outline: none;
}





/*水平线*/
.kui-line-x {
	position: relative;
	height: 1px;
}
.kui-line-x:after {
	border-top: 1px solid #c8c7cc;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}



/*内边距,结合kui-row使用*/
.kui-row-5 {
	margin-right: -5px;
	margin-left: -5px;
}
.kui-row-10 {
	margin-right: -10px;
	margin-left: -10px;
}
.kui-row-15 {
	margin-right: -15px;
	margin-left: -15px;
}
.kui-row-20 {
	margin-right: -20px;
	margin-left: -20px;
}
.kui-padded-0-5 {
	padding: 0 5px;
}
.kui-padded-0-10 {
	padding: 0 10px;
}
.kui-padded-0-15 {
	padding: 0 15px;
}
.kui-padded-0-20 {
	padding: 0 20px;
}
.kui-padded-5 {
	overflow: hidden;
	padding: 5px;
}
.kui-padded-10 {
	overflow: hidden;
	padding: 10px;
}
.kui-padded-15 {
	overflow: hidden;
	padding: 15px;
}
.kui-padded-20 {
	overflow: hidden;
	padding: 20px;
}
.kui-clearfix {
	clear: both;
}
.kui-clearfix:before {
	display: table;
	content: " ";
}
.kui-clearfix:after {
	clear: both;
}

/*文字对齐*/
.kui-text-left {
  text-align: left !important;
}

.kui-text-center {
  text-align: center !important;
}

.kui-text-justify {
  text-align: justify !important;
}

.kui-text-right {
  text-align: right !important;
}
/*文字类*/
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 400
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 17px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
	font-weight: normal;
	color: #8f8f94;
}

h6 {
	font-size: 12px;
	font-weight: normal;
	color: #8f8f94;
}
h1 small,h2 small,h3 small,h4 small {
	font-weight: normal;
	line-height: 1;
	color: #777777;
}
h5 small,h6 small {
	font-weight: normal;
	line-height: 1;
	color: #8f8f94;
}

h1 small,h2 small,h3 small {
	font-size: 65%;
}

h4 small,h5 small,h6 small {
	font-size: 75%;
}

/*文字、北京颜色*/
.kui-text-default {
	color: #666666 !important;
}
.kui-text-primary {
	color: #1abc9c !important;
}

.kui-text-success {
	color: #2ecc71 !important;
}

.kui-text-info {
	color: #3498db !important;
}

.kui-text-warning {
	color: #f1c40f !important;
}

.kui-text-danger {
	color: #e74c3c !important;
}
.kui-text-blue {
	color: #a1d4cf !important;
}
.kui-text-pink {
	color: #fbb8af !important;
}
.kui-bg-default {
	background-color: #f4f4f4 !important;
}
.kui-bg-primary {
	background-color: #1abc9c !important;
}

.kui-bg-success {
	background-color: #2ecc71 !important;
}

.kui-bg-info {
	background-color: #3498db !important;
}

.kui-bg-warning {
	background-color: #f1c40f !important;
}

.kui-bg-danger {
	background-color: #e74c3c !important;
}
.kui-bg-blue {
	background-color: #a1d4cf !important;
}
.kui-bg-pink {
	background-color: #fbb8af !important;
}
/*对齐,显示，隐藏等*/
.kui-pull-right {
	float: right !important;
}
.kui-pull-left {
	float: left !important;
}
.kui-hide {
	display: none !important;
}
.kui-show {
	display: block !important;
}
.kui-invisible {
	visibility: hidden;
}
.kui-inline {
	display: inline-block;
	vertical-align: top;
}

/*基本容器*/
.kui-content {
	-webkit-overflow-scrolling: touch;
	margin-bottom: 15px;
}
.kui-content-padded {
  	margin: 0 10px;
  	-webkit-overflow-scrolling: touch;
  	margin-bottom: 15px;
}
.kui-card {
    margin: 0 10px;
    margin-bottom: 15px;
    position: relative;
    border: 1px solid #dfdfdf;
	border-radius: 3px;
	overflow: hidden;
}
.kui-content-title {
	position: relative;
	overflow: hidden;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1;
	color: #6d6d72;
	padding: 25px 15px 10px;
}

/*栅格类*/
.kui-col-xs-1,.kui-col-xs-2,.kui-col-xs-3,.kui-col-xs-4,.kui-col-xs-5,.kui-col-xs-6,.kui-col-xs-7,.kui-col-xs-8,.kui-col-xs-9,.kui-col-xs-10,.kui-col-xs-11,.kui-col-5 {
	position: relative;
	float: left;
}
.kui-col-xs-12 {
	width: 100%;
	position: relative;
}
.kui-col-xs-11 {
	width: 91.66666667%;
}
.kui-col-xs-10 {
	width: 83.33333333%;
}
.kui-col-xs-9 {
	width: 75%;
}
.kui-col-xs-8 {
	width: 66.66666667%;
}
.kui-col-xs-7 {
	width: 58.33333333%;
}
.kui-col-xs-6 {
	width: 50%;
}
.kui-col-xs-5 {
	width: 41.66666667%;
}
.kui-col-xs-4 {
	width: 33.33333333%;
}
.kui-col-xs-3 {
	width: 25%;
}
.kui-col-xs-2 {
	width: 16.66666667%;
}
.kui-col-xs-1 {
	width: 8.33333333%;
}
.kui-col-5 {
	width: 20%;
}


/*标签*/
.kui-label {
	display: inline;
	padding: .3em .35em .2em .35em;
	font-size: 12px;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .15em;
}
.kui-label-default {
	background-color: #f4f4f4;
	color: #8f8f94;
}
.kui-label-primary {
	background-color: #1abc9c;
}

.kui-label-success {
	background-color: #2ecc71;
}

.kui-label-info {
	background-color: #3498db;
}

.kui-label-warning {
	background-color: #f1c40f;
}

.kui-label-danger {
	background-color: #e74c3c;
}
.kui-label-blue {
	background-color: #a1d4cf;
}
.kui-label-pink {
	background-color: #fbb8af;
}

/*输入框*/
textarea {
  width: 100%;
  -webkit-appearance: none;
  padding: 10px 15px;
  margin-bottom: 15px;
  line-height: 21px;
  -webkit-user-select: text;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  outline: none;
}
select,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"] {
	width: 100%;
	-webkit-appearance: none;
	padding: 10px 15px;
	margin-bottom: 15px;
	line-height: 21px;
	-webkit-user-select: text;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 3px;
	outline: none;
}

/*按钮样式*/
button, .kui-btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	background-color: #ecf0f1;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	  touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
	border: 1px solid #ecf0f1;
	border-radius: 4px;
}
.kui-btn:active {
	color: #ffffff;
	background-color: #bdc3c7;
}
.kui-btn-default {
	color: #ffffff;
	background-color: #bdc3c7;
	border: 1px solid #bdc3c7;
}

.kui-btn-primary {
	color: #ffffff;
	background-color: #1abc9c;
	border: 1px solid #1abc9c;
}
.kui-btn-primary.active, .kui-btn-primary:active {
	color: #fff;
	background-color: #16a085;
	border: 1px solid #16a085;
}
.kui-btn-success {
	color: #ffffff;
	background-color: #2ecc71;
	border: 1px solid #2ecc71;
}
.kui-btn-success.active, .kui-btn-success:active {
	color: #fff;
	background-color: #27ae60;
	border: 1px solid #27ae60;
}
.kui-btn-info {
	color: #ffffff;
	background-color: #3498db;
	border: 1px solid #3498db;
}
.kui-btn-info.active, .kui-btn-info:active {
	color: #fff;
	background-color: #2980b9;
	border: 1px solid #2980b9;
}
.kui-btn-warning {
	color: #ffffff;
	background-color: #f1c40f;
	border: 1px solid #f1c40f;
}
.kui-btn-warning.active, .kui-btn-warning:active {
	color: #fff;
	background-color: #faa732;
	border: 1px solid #faa732;
}
.kui-btn-danger {
	color: #ffffff;
	background-color: #e74c3c;
	border: 1px solid #e74c3c;
}
.kui-btn-danger.active, .kui-btn-danger:active {
	color: #fff;
	background-color: #c0392b;
	border: 1px solid #c0392b;
}
.kui-btn-block {
	display: block;
	width: 100%;
	padding: 15px 0;
	margin-bottom: 0;
	font-size: 18px;
}
.kui-btn .kui-iconfont, .kui-btn-block .kui-iconfont {
	margin-right: 6px;
}
.kui-btn .kui-badge, .kui-btn-block .kui-badge {
	margin-left: 6px;
}

/*表单类*/
.kui-form {
	position: relative;
	background:#ffffff;
}
.kui-form:before{
	border-top: 1px solid #c8c7cc;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.kui-form:after{
	border-top: 1px solid #c8c7cc;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.kui-form .kui-input-row {
	position: relative;
    display: table;
    border-collapse: separate;
    padding: 6px 0;
}

.kui-form .kui-input-row:before {
	border-top: 1px solid #c8c7cc;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.kui-form .kui-input-row:after {
	border-top: 0;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.kui-form .kui-input-row:first-child:before{
	border-top: 0;
}
.kui-card .kui-form:before, .kui-card .kui-input-row:first-child:before {
	border-top: 0;
}
.kui-card .kui-form:after, .kui-form .kui-input-row:last-child:after {
	border-top: 0;
}
.kui-form .kui-input-row .kui-input-addon {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #333;
    text-align: center;
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 5px;
}
.kui-form .kui-input-row .kui-input {
    font-size: 14px;
    margin: 0;
    display: table-cell;
    position: relative;
    float: left;
    width: 100%;
    border:none;
    border-radius: 0;
}

.kui-form .kui-btn-row {
	position: relative;
	text-align: center;
	padding: 15px;
}
.kui-form .kui-btn-row:before {
	border-top: 1px solid #c8c7cc;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*表单中单选、多选*/
.kui-radio {
	width: 26px;
	height: 26px;
	position: relative;
	margin: 8px 15px;
	background: #ffffff;
	border: solid 1px #dddddd;
	border-radius: 50%;
	display: table;
	-webkit-appearance: none;
			transition: background-color ease 0.2s;
}
.kui-radio:checked {
	background-color: #1abc9c;
	border: solid 1px #1abc9c;
	text-align: center;
}
.kui-radio:checked:before {
	position: absolute;
	left: 5px;
	top: 1px;
	font-size: 16px;
	display: table;
	font-family: "iconfont";
	content: "\e645";
	color: #ffffff;
}
.kui-radio:checked:after {
	position: absolute;
	left: 5px;
	top: 1px;
	font-size: 16px;
	display: table;
	font-family: "iconfont";
	content: "\e645";
	color: #ffffff;
}

.kui-radio:disabled {
	background-color: #d9d9d9;
	border: solid 1px #d9d9d9;
}
.kui-radio:disabled:before {
	position: absolute;
	left: 5px;
	top: 1px;
	display: table;
	font-family: "iconfont";
	content: "\e645";
	font-size: 16px;
	color: #ffffff;
}
.kui-radio:disabled:after {
	position: absolute;
	left: 5px;
	top: 1px;
	display: table;
	font-family: "iconfont";
	content: "\e645";
	font-size: 16px;
	color: #ffffff;
}
.kui-radio.kui-radio-info:checked {
	background-color: #3498db;
	border: solid 1px #3498db;
}
.kui-radio.kui-radio-success:checked {
	background-color: #2ecc71;
	border: solid 1px #2ecc71;
}
.kui-radio.kui-radio-danger:checked {
	background-color: #e74c3c;
	border: solid 1px #e74c3c;
}
.kui-radio.kui-radio-warning:checked {
	background-color: #f1c40f;
	border: solid 1px #f1c40f;
}

.kui-checkbox {
	width: 26px;
	height: 26px;
	position: relative;
	margin: 8px 15px;
	background: #ffffff;
	border: solid 1px #dddddd;
	border-radius: 4px;
	display: table;
	-webkit-appearance: none;
			transition: background-color ease 0.2s;
}
.kui-checkbox:checked {
	background-color: #1abc9c;
	border: solid 1px #1abc9c;
	text-align: center;
}
.kui-checkbox:checked:before {
	position: absolute;
	left: 5px;
	top: 1px;
	font-size: 16px;
	display: inline-block;
	font-family: "iconfont";
	content: "\e645";
	color: #ffffff;
}
.kui-checkbox:checked:after {
	position: absolute;
	left: 5px;
	top: 1px;
	font-size: 16px;
	display: inline-block;
	font-family: "iconfont";
	content: "\e645";
	color: #ffffff;
}

.kui-checkbox:disabled {
	background-color: #d9d9d9;
	border: solid 1px #d9d9d9;
}
.kui-checkbox:disabled:before {
	position: absolute;
	left: 5px;
	top: 1px;
	display: inline-block;
	font-family: "iconfont";
	content: "\e645";
	font-size: 16px;
	color: #ffffff;
}
.kui-checkbox:disabled:after {
	position: absolute;
	left: 5px;
	top: 1px;
	display: inline-block;
	font-family: "iconfont";
	content: "\e645";
	font-size: 16px;
	color: #ffffff;
}
.kui-checkbox.kui-checkbox-info:checked {
	background-color: #3498db;
	border: solid 1px #3498db;
}
.kui-checkbox.kui-checkbox-success:checked {
	background-color: #2ecc71;
	border: solid 1px #2ecc71;
}
.kui-checkbox.kui-checkbox-danger:checked {
	background-color: #e74c3c;
	border: solid 1px #e74c3c;
}
.kui-checkbox.kui-checkbox-warning:checked {
	background-color: #f1c40f;
	border: solid 1px #f1c40f;
}

/*列表*/
.kui-content > .kui-list-view:last-child {
  	margin-bottom: 15px;
}
.kui-list-view {
	position: relative;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 15px;
	list-style: none;
	background-color: #fff;
}
.kui-list-view:before {
	border-top: 1px solid #c8c7cc;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.kui-list-view:after {
	border-top: 1px solid #c8c7cc;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; 
    z-index: 2;
}

.kui-list-view-cell {
	position: relative;
	padding: 12px 15px;
	overflow: hidden;
	-webkit-transform-style: preserve-3d;
	      transform-style: preserve-3d;
	-webkit-touch-callout: none;
}

.kui-list-view-cell:before {
	border-top: 0px;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.kui-list-view-cell:after {
	border-top: 1px solid #c8c7cc;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.kui-list-view-cell:last-child:after, .kui-list-view-cell:last-child:before {
  	border-top:0;
}
.kui-list-view-cell > a:active {
	background: #f4f4f4;
}
.kui-list-view-cell > a {
  	position: relative;
  	padding: inherit;
  	margin: -12px -15px;
  	display: block;
  	overflow: hidden;
  	color: inherit;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.kui-list-view-cell > a.kui-active {
  	background-color: #eee;

}
.kui-list-view-cell p {
  	margin-bottom: 0;
}

/*带有箭头的列表*/
.kui-arrow-right:after {
	font-family: 'iconfont';
	font-size: inherit;
	line-height: 1;
	color: #bbbbbb;
	text-decoration: none;
	position: absolute;
	top: 50%;
	display: inline-block;
	-webkit-transform: translateY(-50%);
	      transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
}

.kui-arrow-right:after {
	font-family:"iconfont" !important;
	right: 15px;
	content: '\e6a3';
}

/*会员列表～通讯录～消息列表*/
.kui-user-view {
	position: relative;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 15px;
	list-style: none;
	background-color: #fff;
}
.kui-user-view:before {
	border-top: 1px solid #c8c7cc;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.kui-user-view:after {
	border-top: 1px solid #c8c7cc;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.kui-user-view-cell {
	position: relative;
	padding: 11px 15px;
	overflow: hidden;
}
.kui-user-view-cell:before {
	border-top: 0px;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.kui-user-view-cell:after {
	border-top: 1px solid #c8c7cc;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.kui-user-view-cell:last-child:after, .kui-user-view-cell:last-child:before {
  	border-top: 0;
}
.kui-user-view-cell:active {
	background: #f4f4f4;
}
.kui-user-view-cell > a {
  	position: relative;
  	padding: inherit;
  	margin: -11px -15px;
  	display: block;
  	overflow: hidden;
  	color: inherit;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.kui-user-view-cell > a.kui-active {
  	background-color: #eee;
}
.kui-user-view-cell p {
	margin-top: 3px;
  	margin-bottom: 0;
  	font-size: 12px;
}
.kui-user-view-cell .kui-img,
.kui-user-view-cell .kui-img-body {
	overflow: hidden;
}
.kui-user-view-cell .kui-img-body span {
	color: #333333;
	margin-top: 2px;
	font-weight: 400;
	font-size: 16px;
	width: 100%;
}
.kui-user-view-cell .kui-img-body span > em {
	font-weight: 400;
	font-size: 12px;
	color: #8f8f94;
	float: right;
}
.kui-user-view-cell .kui-img-object {
	max-width: 48px !important;
	height: 48px !important;
	line-height: 48px !important;
	border-radius: 50%;
}

.kui-user-view-cell .kui-img-object.kui-pull-left {
	margin-right: 15px;
}
.kui-user-view-cell .kui-img-object.kui-pull-right {
	margin-left: 0px;
}
.kui-user-view-cell .kui-img-body.kui-arrow-right:after {
	font-family: 'iconfont';
	font-size: inherit;
	line-height: 1;
	color: #bbbbbb;
	text-decoration: none;
	position: absolute;
	top: 50%;
	display: table;
	font-size: 20px;
	right: 15px;
	content: '\e6a3';
}

/*列表处理*/
.kui-content-padded > .kui-list-view:last-child , .kui-card > .kui-list-view:last-child {
	margin-bottom: 0;
}
.kui-content-padded > .kui-list-view:last-child:after, .kui-card > .kui-list-view:last-child:after {
	border-top: 0;
}
.kui-content-padded > .kui-list-view .kui-list-view-cell:after, .kui-card > .kui-list-view .kui-list-view-cell:after {
	left: 0;
}
.kui-content-padded .kui-list-view:before, .kui-card .kui-list-view:before {
	border-top: 0;
}


/*列表页角标靠右*/
.kui-list-view-cell > .kui-badge,
.kui-list-view-cell > a > .kui-badge {
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	      transform: translateY(-50%);
}
.kui-list-view-cell > a.kui-arrow-right > .kui-badge {
	position: absolute;
	top: 50%;
	right: 30px;
	-webkit-transform: translateY(-50%);
	      transform: translateY(-50%);
}


/*图文列表类*/
.kui-list-view .kui-img,
.kui-list-view .kui-img-body {
	overflow: hidden;
}
.kui-list-view .kui-img-object {
	max-width: 60px;
	height: 60px;
	line-height: 60px;
}
.kui-list-view .kui-img-object.kui-pull-left {
	margin-right: 15px;
}
.kui-list-view .kui-img-object.kui-pull-right {
	margin-left: 0px;
}
.kui-list-view.kui-grid-view {
	display: table;
	width: 100%;
	padding: 0 10px 10px 0;
	font-size: 0;
	white-space: normal;
}

.kui-list-view.kui-grid-view .kui-list-view-cell {
	display: table-cell;
	padding: 10px 0 0 10px;
	text-align: center;
	vertical-align: middle;
	background: none;
}
.kui-list-view.kui-grid-view .kui-list-view-cell .kui-img-object {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.kui-list-view.kui-grid-view .kui-list-view-cell .kui-img-body {
	font-size: 14px;
	padding: 5px 0;
}
.kui-list-view.kui-grid-view .kui-list-view-cell > a:active,
.kui-list-view.kui-grid-view .kui-list-view-cell:active {
	background: none;
}
.kui-list-view.kui-grid-view .kui-list-view-cell .kui-media-body {
	display: table-cell;
	width: 100%;
	height: 15px;
	margin-top: 8px;
	font-size: 15px;
	line-height: 15px;
	color: #333;
	text-overflow: ellipsis;
}
.kui-list-view.kui-grid-view .kui-list-view-cell:before,
.kui-list-view.kui-grid-view .kui-list-view-cell:after {
	border-top: 0;
}

.kui-thumb-view {
	overflow: hidden;
	padding: 10px 8px 5px 8px;
}
.kui-thumb-view .kui-list-view-cell {
	display: table-cell;
	padding: 0 2px 4px 2px;
	margin-right: 0px;
	margin-bottom: -4px;
	font-size: 17px;
	text-align: center;
	vertical-align: middle;
	background: none;
}
.kui-thumb-view .kui-list-view-cell .kui-img-object {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.kui-thumb-view .kui-list-view-cell > a {
	margin: 0px 0 0 -8px;
}
.kui-thumb-view .kui-list-view-cell > a:active,
.kui-thumb-view .kui-list-view-cell:active {
	background: none;
}
.kui-thumb-view .kui-list-view-cell:before,
.kui-thumb-view .kui-list-view-cell:after {
	border-top: 0;
}

/*9宫格*/
.kui-grid-nine {
	border: 1px solid #eee;
	border-bottom: none;
	background: #ffffff;
	padding-left: 1px;
}

.kui-grid-nine li {
	float: left;
	position: relative;
	padding: 20px 10px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.kui-grid-nine li:nth-last-of-type(1),.kui-grid-nine li:nth-last-of-type(4),.kui-grid-nine li:nth-last-of-type(7){
	border-right: 0px;
}
.kui-grid-nine li .kui-iconfont {
	font-size: 26px;
	display: inline-block;
    text-indent: center;
    margin-bottom: 5px;
}
.kui-grid-nine li p {
	margin-bottom: 0;
}
.kui-grid-nine li:active {
	background: #f4f4f4;
}

/*16宫格*/
.kui-grid-sixteen {
	border: 1px solid #eee;
	border-bottom: none;
	background: #ffffff;
	padding-left: 1px;
}

.kui-grid-sixteen li {
	float: left;
	position: relative;
	padding: 15px 10px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.kui-grid-sixteen li:nth-last-of-type(1),.kui-grid-sixteen li:nth-last-of-type(5),.kui-grid-sixteen li:nth-last-of-type(9),.kui-grid-sixteen li:nth-last-of-type(13){
	border-right: 0px;
}
.kui-grid-sixteen li .kui-iconfont {
	font-size: 26px;
	display: inline-block;
    text-indent: center;
    margin-bottom: 5px;
}
.kui-grid-sixteen li p {
	margin-bottom: 0;
}
.kui-grid-sixteen li:active {
	background: #f4f4f4;
}
/*角标*/
.kui-badge {
	display: inline-block;
	padding: 3px 6px;
	font-size: 12px;
	line-height: 1;
	color: #333;
	background-color: #bdc3c7;
	border-radius: 100px;
}

.kui-badge-primary {
  color: #ffffff;
  background-color: #1abc9c;
}

.kui-badge-success {
  color: #ffffff;
  background-color: #2ecc71;
}

.kui-badge-info {
  color: #ffffff;
  background-color: #3498db;
}

.kui-badge-warning {
  color: #ffffff;
  background-color: #f1c40f;
}

.kui-badge-danger {
  color: #ffffff;
  background-color: #e74c3c;
}


/*导航栏*/
.kui-bar {
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	background-color: #3498db;
	color: #ffffff;
	min-height: 45px;
	display: table;
	line-height: 45px;
}
.kui-title {
	position: absolute;
	width: 100%;
	margin: 0 -10px;
	font-size: 18px;
	height: 45px ;
	line-height: 45px;
	color: #ffffff;
	text-align: center;
	white-space: nowrap;
}

.kui-title a {
	color: inherit;
}
.kui-bar .kui-title {
	right: 40px;
	left: 40px;
	width: auto;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
.kui-bar a {
	color: #ffffff;
}

.kui-bar-dark {
	background-color: #34495e;
}
.kui-bar-primary {
	background-color: #1abc9c;
}
.kui-bar-info {
	background-color: #3498db;
}
.kui-bar-danger {
	background-color: #e74c3c;
}
.kui-bar-success {
	background-color: #2ecc71;
}
.kui-bar-warning {
	background-color: #f1c40f;
}
.kui-bar .kui-iconfont {
	position: relative;
	z-index: 20;
	font-size: 20px;
	color: #ffffff;
	font-size: 400;
	line-height: 45px;
}
.kui-bar .kui-pull-left {
	padding-left: 10px;
	font-size: 16px;
	font-weight: 400;
}
.kui-bar .kui-pull-right {
	padding-right: 10px;
	font-size: 16px;
	font-weight: 400;
}
.kui-bar .kui-btn {
	position: relative;
	z-index: 20;
	font-size: 16px;
	height: 45px;
	line-height: 45px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	border-radius: 0;
	border: none;
}
.kui-bar .kui-btn:active {
	background: none;
	border: none;
}
.kui-bar .kui-btn .kui-iconfont {
	font-size: 22px;
	line-height: 45px;
	padding: 0;
	margin: 0;
	color: #ffffff;
}

.kui-bar-nav {
	top: 0;
}
/*底部切换栏*/
.kui-nav {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	width: 100%;
	height: 55px;
	background-color: #fff;
}
.kui-nav .kui-bar-tab {
	width: 100%;
	background-color: #fff;
	display: box;
	display: -webkit-box;
	font-size: 12px;
	height: 55px;
	box-sizing: border-box;
	overflow: hidden;

}
.kui-nav .kui-bar-tab li {
	min-width: 70px;
	box-flex: 1;
	-webkit-box-flex: 1;
	text-align: center;
	color: #666;
	box-sizing: border-box;
	border-bottom: 2px solid transparent;
	width: 100%;
}
.kui-nav .kui-bar-tab p {
	font-size: 12px;
	margin-bottom: 0;
}
.kui-nav .kui-bar-tab .kui-iconfont {
	font-size: 22px;
	color: #8f8f94;
	padding-top: 5px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
}
.kui-nav .kui-bar-tab .active .kui-iconfont, .kui-nav .kui-bar-tab .active p {
	color: #16a085;
}
.kui-nav .kui-bar-tab .active-dark .kui-iconfont, .kui-nav .kui-bar-tab .active-dark p {
	color: #34495e;
}
.kui-nav .kui-bar-tab .active-primary .kui-iconfont, .kui-nav .kui-bar-tab .active-primary p {
	color: #1abc9c;
}
.kui-nav .kui-bar-tab .active-info .kui-iconfont, .kui-nav .kui-bar-tab .active-info p {
	color: #2980b9;
}
.kui-nav .kui-bar-tab .active-danger .kui-iconfont, .kui-nav .kui-bar-tab .active-danger p {
	color: #c0392b;
}
.kui-nav .kui-bar-tab .active-success .kui-iconfont, .kui-nav .kui-bar-tab .active-success p {
	color: #27ae60;
}
.kui-nav .kui-bar-tab .active-warning .kui-iconfont, .kui-nav .kui-bar-tab .active-warning p {
	color: #faa732;
}

/*数字加减类*/
.kui-counter-box {
	width: 100%;
	padding: 5px 0;
	line-height: 30px;
}
.kui-counter-list .kui-checkbox, .kui-counter-list .kui-radio {
	margin: 0;
	margin-top: 16px;
	margin-right: 15px;
}
.kui-counter {
	display: table;
}
.kui-counter-minus,
.kui-counter-plus,
input.kui-counter-input {
	display: table-cell;
	height: 30px;
	vertical-align: top;
	text-align: center;
	font-size: 14px;
	line-height: 28px;
	-webkit-appearance: none;
	border-radius: 0;
	margin:0;
}
.kui-counter-minus,
.kui-counter-plus {
	width: 28px;
	background-color: #ffffff;
	border: 1px solid #e6e4e3;
	color: #1abc9c;
}
.kui-counter.kui-success .kui-counter-minus,
.kui-counter.kui-success .kui-counter-plus {
	color: #2ecc71;
}

.kui-counter.kui-info .kui-counter-minus,
.kui-counter.kui-info .kui-counter-plus {
	color: #3498db;
}

.kui-counter.kui-warning .kui-counter-minus,
.kui-counter.kui-warning .kui-counter-plus {
	color: #f1c40f;
}

.kui-counter.kui-danger .kui-counter-minus,
.kui-counter.kui-danger .kui-counter-plus {
	color: #e74c3c;
}
.kui-counter-minus.kui-disabled,
.kui-counter-plus.kui-disabled {
	background-color: #e7e7e7;
	color: #999 !important;
}
.kui-counter-minus:before {
	font-family: "iconfont";
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	content: "\e768";
	font-size: 16px;
	line-height: 27px;
}
.kui-counter-plus:before {
	font-family: "iconfont";
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	content: "\e767";
	
	font-size: 16px;
	line-height: 27px;
}
input.kui-counter-input {
	width: 35px;
	border-style: solid none;
	border-width: 1px;
	border-color: #e6e4e3;
	color: #262626;
	background-color: #ffffff;
	text-align: center;
	padding: 0;
}
/*loading*/
.kui-loading {
	width: 48px;
	height: 48px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -24px;
	margin-top: -48px;
	z-index: 9999;
	color: #ffffff;
	background-color: rgba(0,0,0,.6) !important;
	border-radius: 50%;
	text-align: center;
	line-height: 48px;
	font-size: 20px;
}

.kui-loading-1, .kui-loading-2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #67cf22;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: bounce 2.0s infinite ease-in-out;
			animation: bounce 2.0s infinite ease-in-out;
}
 
.kui-loading-2 {
	background-color: #ffcc00;
	-webkit-animation-delay: -1.0s;
			animation-delay: -1.0s;
}
 

/*switch开关*/
.kui-switch-title {
	float: left;
	line-height: 26px;
}
.kui-switch {
	width: 46px;
	height: 26px;
	margin: 0 10px;
	position: relative;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	box-shadow: #dfdfdf 0 0 0 0 inset;
	border-radius: 13px;
	background-clip: content-box;
	display: inline-block;
	-webkit-appearance: none;
	user-select: none;
	outline: none;
	transition: border cubic-bezier(0, 0, 0, 1) 0.4s,
				box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}
.kui-switch:before {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 13px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	content: '';
	transition: left 0.3s;
}
.kui-switch:checked {
	border-color: #1abc9c;
	box-shadow: #1abc9c 0 0 0 26px inset;
	background-color: #1abc9c;
	transition: border ease 0.4s,
				box-shadow ease 0.4s,
				background-color ease 1.2s;
}
.kui-switch.kui-switch-info:checked {
	border-color: #3498db;
	box-shadow: #3498db 0 0 0 26px inset;
	background-color: #3498db;
}
.kui-switch.kui-switch-success:checked {
	border-color: #2ecc71;
	box-shadow: #2ecc71 0 0 0 26px inset;
	background-color: #2ecc71;
}
.kui-switch.kui-switch-danger:checked {
	border-color: #e74c3c;
	box-shadow: #e74c3c 0 0 0 26px inset;
	background-color: #e74c3c;
}
.kui-switch.kui-switch-warning:checked {
	border-color: #f1c40f;
	box-shadow: #f1c40f 0 0 0 26px inset;
	background-color: #f1c40f;
}
.kui-switch:checked:before {
	left: 20px;
	transition: left 0.3s;
}

/*聊天 会话*/
.kui-chat-receiver{
    clear:both;
}
.kui-chat-receiver .kui-chat-receiver-avatar{
    float: left;
}
.kui-chat-receiver .kui-chat-receiver-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.kui-chat-receiver .kui-chat-receiver-cont{
    background: #ffffff;
    float: left;
    margin: 0 20px 10px 15px;
    padding: 10px;
    border-radius:7px;
    max-width: 60%;
    position: relative;
    min-height: 20px;
}
.kui-chat-sender{
    clear:both;
}

.kui-chat-sender .kui-chat-sender-avatar{
    float: right;
}
.kui-chat-sender .kui-chat-sender-avatar img { 
    width: 50px; 
    height: 50px;
    border-radius: 50%;
}
.kui-chat-sender .kui-chat-sender-cont{
    float:right; 
    background: #15b5e9; 
    margin: 0 10px 10px 20px; 
    padding: 10px; 
    border-radius:7px; 
    color: #ffffff; 
    max-width: 60%; 
    position: relative;
    min-height: 20px;
}
.kui-chat-left-triangle{ 
    height:0px; 
    width:0px; 
    border-width:8px; 
    border-style:solid; 
    border-color:transparent #ffffff transparent transparent; 
    position: absolute; 
    left:-16px; 
    top:6px; 
}
.kui-chat-right-triangle{ 
    height:0px; 
    width:0px; 
    border-width:8px; 
    border-style:solid; 
    border-color:transparent transparent transparent #15b5e9; 
    position: absolute; 
    right:-16px; 
    top:6px;
}
.kui-chat-sender .kui-chat-sender-cont span,
.kui-chat-receiver .kui-chat-receiver-cont span{
    word-break:break-all;
}

/*tab切换类*/
.kui-tab {
	width: 100%;
	overflow: hidden;
}
.kui-tab-nav {
	width: 100%;
	display: box;
	display: -webkit-box;
	font-size: 16px;
	height: 45px;
	box-sizing: border-box;
	overflow: hidden;
	background-color: #fff;
}
.kui-tab-nav li {
	height: 45px;
	line-height: 45px;
	min-width: 70px;
	box-flex: 1;
	-webkit-box-flex: 1;
	text-align: center;
	color: #666;
	box-sizing: border-box;
	border-bottom: 2px solid transparent;
	width: 100%;
}
.kui-tab-nav li.active {
	color: #1abc9c;
	border-bottom: 2px #1abc9c solid;
	-webkit-animation: fadeIn .5s ease both;
            animation: fadeIn .5s ease both;
}
.kui-tab-nav.kui-tab-border {
	background-color: transparent;
	border: 1px solid #1abc9c;
	border-radius: 3px;
}
.kui-tab-nav.kui-tab-border li {
	width: 1%;
	overflow: hidden;
	line-height: 43px;
	color: #1abc9c;
	background-color: #ffffff;
	border-color: #1abc9c;
	border-left: 1px solid #1abc9c;
}
.kui-tab-nav.kui-tab-border li:first-child {
	border-left: 0px solid #1abc9c;
}
.kui-tab-nav.kui-tab-border li.active {
	background-color: #1abc9c;
	color: #fff;
	-webkit-animation: fadeIn .5s ease both;
            animation: fadeIn .5s ease both;
}

@-webkit-keyframes bounce {
	0%, 100% {-webkit-transform: scale(0.0) }
	50% {-webkit-transform: scale(1.0)}
}
 
@keyframes bounce {
	0%, 100% {
	-webkit-transform: scale(0.0);
			transform: scale(0.0);
	}
	50% {
	-webkit-transform: scale(1.0);
			transform: scale(1.0);
	}
}
@-webkit-keyframes fadeIn {
    from { opacity: 0.3; }
    to {  }
}
@media (-webkit-min-device-pixel-ratio:2), (min-device-pixel-ratio: 2){
	.kui-list-view:before,
	.kui-user-view:before,
	.kui-form:before {
  		-webkit-transform: scaleY(.5);
      	-webkit-transform-origin: 0 0;
      		transform: scaleY(.5);
  	}

	.kui-list-view:after,
	.kui-list-view-cell:after,
	.kui-user-view:after,
	.kui-user-view-cell:before,
	.kui-user-view-cell:after,
	.kui-form:after,
	.kui-form .kui-input-row:before,
	.kui-form .kui-input-row:after,
	.kui-form .kui-btn-row:before,
	.kui-line-x:after{
		-webkit-transform: scaleY(.333333);
		-webkit-transform-origin: 100% 100%;
      		transform: scaleY(.333333);
  	}
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio: 1.5){
	.kui-list-view:before,
	.kui-user-view:before,
	.kui-form:before {
  		-webkit-transform: scaleY(.5);
      	-webkit-transform-origin: 0 0;
      		transform: scaleY(.5);
  	}
	.kui-list-view:after,
	.kui-list-view-cell:after,
	.kui-user-view:after,
	.kui-user-view-cell:before,
	.kui-user-view-cell:after,
	
	.kui-form:after,
	.kui-form .kui-input-row:before,
	.kui-form .kui-input-row:after,
	.kui-form .kui-btn-row:before,
	.kui-line-x:after {
		-webkit-transform: scaleY(.5);
      	-webkit-transform-origin: 100% 100%;
      		transform: scaleY(.5);
  	}
  	
}
@media (-webkit-device-pixel-ratio: 3){
	.kui-list-view:before,
	.kui-user-view:before,
	.kui-form:before {
  		-webkit-transform: scaleY(.333);
      	-webkit-transform-origin: 0 0;
      		transform: scaleY(.333);
  	}
	.kui-list-view:after,
	.kui-list-view-cell:after,
	.kui-user-view:after,
	.kui-user-view-cell:before,
	.kui-user-view-cell:after,
	.kui-form:after,
	.kui-form .kui-input-row:before,
	.kui-form .kui-input-row:after,
	.kui-form .kui-btn-row:before,
	.kui-line-x:after {
		-webkit-transform: scaleY(.333);
      		-webkit-transform-origin: 100% 100%;
      		transform: scaleY(.333);
  	}
}
/*图标*/
@font-face {font-family: "iconfont";
	src: url('kui_iconfont.ttf') format('truetype');
}
.kui-iconfont {
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.kui-icon-appreciate:before { content: "\e644"; }
.kui-icon-check:before { content: "\e645"; }
.kui-icon-close:before { content: "\e646"; }
.kui-icon-edit:before { content: "\e649"; }
.kui-icon-emoji:before { content: "\e64a"; }
.kui-icon-favorfill:before { content: "\e64b"; }
.kui-icon-favor:before { content: "\e64c"; }
.kui-icon-loading:before { content: "\e64f"; }
.kui-icon-locationfill:before { content: "\e650"; }
.kui-icon-location:before { content: "\e651"; }
.kui-icon-phone:before { content: "\e652"; }
.kui-icon-roundcheckfill:before { content: "\e656"; }
.kui-icon-roundcheck:before { content: "\e657"; }
.kui-icon-roundclosefill:before { content: "\e658"; }
.kui-icon-roundclose:before { content: "\e659"; }
.kui-icon-roundrightfill:before { content: "\e65a"; }
.kui-icon-roundright:before { content: "\e65b"; }
.kui-icon-search:before { content: "\e65c"; }
.kui-icon-timefill:before { content: "\e65e"; }
.kui-icon-time:before { content: "\e65f"; }
.kui-icon-taxi:before { content: "\e65d"; }
.kui-icon-unfold:before { content: "\e661"; }
.kui-icon-warnfill:before { content: "\e662"; }
.kui-icon-warn:before { content: "\e663"; }
.kui-icon-camerafill:before { content: "\e664"; }
.kui-icon-camera:before { content: "\e665"; }
.kui-icon-commentfill:before { content: "\e666"; }
.kui-icon-comment:before { content: "\e667"; }
.kui-icon-likefill:before { content: "\e668"; }
.kui-icon-like:before { content: "\e669"; }
.kui-icon-notificationfill:before { content: "\e66a"; }
.kui-icon-notification:before { content: "\e66b"; }
.kui-icon-order:before { content: "\e66c"; }
.kui-icon-samefill:before { content: "\e66d"; }
.kui-icon-same:before { content: "\e66e"; }
.kui-icon-deliver:before { content: "\e671"; }
.kui-icon-evaluate:before { content: "\e672"; }
.kui-icon-pay:before { content: "\e673"; }
.kui-icon-send:before { content: "\e675"; }
.kui-icon-shop:before { content: "\e676"; }
.kui-icon-ticket:before { content: "\e677"; }
.kui-icon-left:before { content: "\e679"; }
.kui-icon-cascades:before { content: "\e67c"; }
.kui-icon-discover:before { content: "\e67e"; }
.kui-icon-list:before { content: "\e682"; }
.kui-icon-more:before { content: "\e684"; }
.kui-icon-myfill:before { content: "\e685"; }
.kui-icon-my:before { content: "\e686"; }
.kui-icon-scan:before { content: "\e689"; }
.kui-icon-settings:before { content: "\e68a"; }
.kui-icon-questionfill:before { content: "\e690"; }
.kui-icon-question:before { content: "\e691"; }
.kui-icon-shopfill:before { content: "\e697"; }
.kui-icon-form:before { content: "\e699"; }
.kui-icon-pic:before { content: "\e69b"; }
.kui-icon-filter:before { content: "\e69c"; }
.kui-icon-footprint:before { content: "\e69d"; }
.kui-icon-top:before { content: "\e69e"; }
.kui-icon-pulldown:before { content: "\e69f"; }
.kui-icon-pullup:before { content: "\e6a0"; }
.kui-icon-right:before { content: "\e6a3"; }
.kui-icon-refresh:before { content: "\e6a4"; }
.kui-icon-moreandroid:before { content: "\e6a5"; }
.kui-icon-deletefill:before { content: "\e6a6"; }
.kui-icon-refund:before { content: "\e6ac"; }
.kui-icon-cart:before { content: "\e6af"; }
.kui-icon-qrcode:before { content: "\e6b0"; }
.kui-icon-remind:before { content: "\e6b2"; }
.kui-icon-delete:before { content: "\e6b4"; }
.kui-icon-profile:before { content: "\e6b7"; }
.kui-icon-home:before { content: "\e6b8"; }
.kui-icon-cartfill:before { content: "\e6b9"; }
.kui-icon-discoverfill:before { content: "\e6ba"; }
.kui-icon-homefill:before { content: "\e6bb"; }
.kui-icon-message:before { content: "\e6bc"; }
.kui-icon-addressbook:before { content: "\e6bd"; }
.kui-icon-link:before { content: "\e6bf"; }
.kui-icon-lock:before { content: "\e6c0"; }
.kui-icon-unlock:before { content: "\e6c2"; }
.kui-icon-vip:before { content: "\e6c3"; }
.kui-icon-activity:before { content: "\e6c5"; }
.kui-icon-friendaddfill:before { content: "\e6c9"; }
.kui-icon-friendadd:before { content: "\e6ca"; }
.kui-icon-friendfamous:before { content: "\e6cb"; }
.kui-icon-friend:before { content: "\e6cc"; }
.kui-icon-goods:before { content: "\e6cd"; }
.kui-icon-selection:before { content: "\e6ce"; }
.kui-icon-explore:before { content: "\e6d2"; }
.kui-icon-present:before { content: "\e6d3"; }
.kui-icon-squarecheckfill:before { content: "\e6d4"; }
.kui-icon-square:before { content: "\e6d5"; }
.kui-icon-squarecheck:before { content: "\e6d6"; }
.kui-icon-round:before { content: "\e6d7"; }
.kui-icon-roundaddfill:before { content: "\e6d8"; }
.kui-icon-roundadd:before { content: "\e6d9"; }
.kui-icon-add:before { content: "\e6da"; }
.kui-icon-notificationforbidfill:before { content: "\e6db"; }
.kui-icon-explorefill:before { content: "\e6dd"; }
.kui-icon-fold:before { content: "\e6de"; }
.kui-icon-game:before { content: "\e6df"; }
.kui-icon-redpacket:before { content: "\e6e0"; }
.kui-icon-selectionfill:before { content: "\e6e1"; }
.kui-icon-similar:before { content: "\e6e2"; }
.kui-icon-appreciatefill:before { content: "\e6e3"; }
.kui-icon-infofill:before { content: "\e6e4"; }
.kui-icon-info:before { content: "\e6e5"; }
.kui-icon-forwardfill:before { content: "\e6ea"; }
.kui-icon-forward:before { content: "\e6eb"; }
.kui-icon-rechargefill:before { content: "\e6ec"; }
.kui-icon-recharge:before { content: "\e6ed"; }
.kui-icon-vipcard:before { content: "\e6ee"; }
.kui-icon-voice:before { content: "\e6ef"; }
.kui-icon-voicefill:before { content: "\e6f0"; }
.kui-icon-friendfavor:before { content: "\e6f1"; }
.kui-icon-wifi:before { content: "\e6f2"; }
.kui-icon-share:before { content: "\e6f3"; }
.kui-icon-wefill:before { content: "\e6f4"; }
.kui-icon-we:before { content: "\e6f5"; }
.kui-icon-lightauto:before { content: "\e6f6"; }
.kui-icon-lightforbid:before { content: "\e6f7"; }
.kui-icon-lightfill:before { content: "\e6f8"; }
.kui-icon-camerarotate:before { content: "\e6f9"; }
.kui-icon-light:before { content: "\e6fa"; }
.kui-icon-barcode:before { content: "\e6fb"; }
.kui-icon-flashlightclose:before { content: "\e6fc"; }
.kui-icon-flashlightopen:before { content: "\e6fd"; }
.kui-icon-searchlist:before { content: "\e6fe"; }
.kui-icon-service:before { content: "\e6ff"; }
.kui-icon-sort:before { content: "\e700"; }
.kui-icon-down:before { content: "\e703"; }
.kui-icon-mobile:before { content: "\e704"; }
.kui-icon-mobilefill:before { content: "\e705"; }
.kui-icon-copy:before { content: "\e706"; }
.kui-icon-countdownfill:before { content: "\e707"; }
.kui-icon-countdown:before { content: "\e708"; }
.kui-icon-noticefill:before { content: "\e709"; }
.kui-icon-notice:before { content: "\e70a"; }
.kui-icon-upstagefill:before { content: "\e70e"; }
.kui-icon-upstage:before { content: "\e70f"; }
.kui-icon-choicenessfill:before { content: "\e714"; }
.kui-icon-choiceness:before { content: "\e715"; }
.kui-icon-clothesfill:before { content: "\e716"; }
.kui-icon-clothes:before { content: "\e717"; }
.kui-icon-creativefill:before { content: "\e718"; }
.kui-icon-creative:before { content: "\e719"; }
.kui-icon-female:before { content: "\e71a"; }
.kui-icon-keyboard:before { content: "\e71b"; }
.kui-icon-male:before { content: "\e71c"; }
.kui-icon-pullleft:before { content: "\e71f"; }
.kui-icon-pullright:before { content: "\e720"; }
.kui-icon-rankfill:before { content: "\e721"; }
.kui-icon-rank:before { content: "\e722"; }
.kui-icon-bad:before { content: "\e723"; }
.kui-icon-cameraadd:before { content: "\e724"; }
.kui-icon-focus:before { content: "\e725"; }
.kui-icon-friendfill:before { content: "\e726"; }
.kui-icon-cameraaddfill:before { content: "\e727"; }
.kui-icon-apps:before { content: "\e729"; }
.kui-icon-paintfill:before { content: "\e72a"; }
.kui-icon-paint:before { content: "\e72b"; }
.kui-icon-picfill:before { content: "\e72c"; }
.kui-icon-refresharrow:before { content: "\e72d"; }
.kui-icon-markfill:before { content: "\e730"; }
.kui-icon-mark:before { content: "\e731"; }
.kui-icon-presentfill:before { content: "\e732"; }
.kui-icon-repeal:before { content: "\e733"; }
.kui-icon-album:before { content: "\e734"; }
.kui-icon-peoplefill:before { content: "\e735"; }
.kui-icon-people:before { content: "\e736"; }
.kui-icon-servicefill:before { content: "\e737"; }
.kui-icon-repair:before { content: "\e738"; }
.kui-icon-file:before { content: "\e739"; }
.kui-icon-repairfill:before { content: "\e73a"; }
.kui-icon-taoxiaopu:before { content: "\e73b"; }
.kui-icon-attentionfill:before { content: "\e73c"; }
.kui-icon-attention:before { content: "\e73d"; }
.kui-icon-commandfill:before { content: "\e73e"; }
.kui-icon-command:before { content: "\e73f"; }
.kui-icon-communityfill:before { content: "\e740"; }
.kui-icon-community:before { content: "\e741"; }
.kui-icon-read:before { content: "\e742"; }
.kui-icon-calendar:before { content: "\e74a"; }
.kui-icon-cut:before { content: "\e74b"; }
.kui-icon-magic:before { content: "\e74c"; }
.kui-icon-backwardfill:before { content: "\e74d"; }
.kui-icon-forwardfill1:before { content: "\e74e"; }
.kui-icon-playfill:before { content: "\e74f"; }
.kui-icon-stop:before { content: "\e750"; }
.kui-icon-tagfill:before { content: "\e751"; }
.kui-icon-tag:before { content: "\e752"; }
.kui-icon-group:before { content: "\e753"; }
.kui-icon-move:before { content: "\e754"; }
.kui-icon-all:before { content: "\e755"; }
.kui-icon-backdelete:before { content: "\e756"; }
.kui-icon-hotfill:before { content: "\e757"; }
.kui-icon-hot:before { content: "\e758"; }
.kui-icon-post:before { content: "\e759"; }
.kui-icon-radiobox:before { content: "\e75b"; }
.kui-icon-rounddown:before { content: "\e75c"; }
.kui-icon-upload:before { content: "\e75d"; }
.kui-icon-videofill:before { content: "\e75e"; }
.kui-icon-video:before { content: "\e75f"; }
.kui-icon-writefill:before { content: "\e760"; }
.kui-icon-write:before { content: "\e761"; }
.kui-icon-radioboxfill:before { content: "\e763"; }
.kui-icon-punch:before { content: "\e764"; }
.kui-icon-shake:before { content: "\e765"; }
.kui-icon-add1:before { content: "\e767"; }
.kui-icon-move1:before { content: "\e768"; }
.kui-icon-safe:before { content: "\e769"; }
.kui-icon-activityfill:before { content: "\e775"; }
.kui-icon-crownfill:before { content: "\e776"; }
.kui-icon-crown:before { content: "\e777"; }
.kui-icon-goodsfill:before { content: "\e778"; }
.kui-icon-messagefill:before { content: "\e779"; }
.kui-icon-profilefill:before { content: "\e77a"; }
.kui-icon-sound:before { content: "\e77b"; }
.kui-icon-sponsorfill:before { content: "\e77c"; }
.kui-icon-weunblock:before { content: "\e780"; }
.kui-icon-weblock:before { content: "\e77f"; }
.kui-icon-upblock:before { content: "\e77e"; }
.kui-icon-sponsor:before { content: "\e77d"; }
.kui-icon-babyfill:before { content: "\e710"; }
.kui-icon-baby:before { content: "\e711"; }
