.user_info{display: -webkit-box; display: -webkit-flex; display: flex; }
.user_info li{color: #ddd; padding:0.33rem; font-size: 1rem; height: 2rem; line-height: 2rem; }
.user_face_name{-webkit-box-flex: 1; -webkit-flex: 1; flex: 1;}
.user_face_name{text-align: left; height: 2rem;}
.user_face_name span{float: left; margin-right: 0.33rem;}
.user_face{width: 2rem; height: 2rem; border-radius: 1rem; background: url(../image/index/face1.jpg); background-size: 100% 100%; }
.user_name{line-height: 2rem; height: 2rem;}
.user_lv{text-align: center; width:6.5rem;}
.user_paytype{text-align: right; width:7.2rem;}
.banner{/* background: url(../image/nwf/banner.jpg) no-repeat center; */ width: 100%; height: 11.5rem; background-size:cover; }
.earning_nwf{width: 100%; height: 5rem; background: #3b2e26; border-bottom:1px solid #000; border-top: 1px solid #000; }
.earning_nwf li{width: 50%; float: left; text-align: center; box-sizing:border-box; padding:0.5rem 0 0.5rem; }
.accumulate_earning i,.accumulate_earning p{border-right:1px solid #666; box-sizing:border-box; }
.earning_rank i,.earning_rank p{border-left:1px solid #000; box-sizing:border-box; }
.accumulate_earning i,.earning_rank i{width:100%; height:1.5rem; line-height:1.5rem; color: #ccc; }
.accumulate_earning p,.earning_rank p{width:100%; height:2.5rem; line-height:2.5rem; font-size:1.5rem; color: #fff; }
.usable_earning{width: 14rem; height: 14rem; border-radius: 7rem; background: #fff; margin:1.5rem auto 0; display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-orient: vertical; -webkit-flex-flow: column; flex-flow: column; box-shadow: 0 0 1rem #fff; -webkit-box-shadow: 0 0 1rem #fff; }
.usable_earning p{text-align: center; width: 100%; padding-top: 2rem; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; line-height: 6rem; font-size:2rem; box-sizing:border-box; }
.usable_earning i{text-align: center; width: 100%; line-height: 6rem; font-size:1.1rem; padding-bottom: 2rem; box-sizing:border-box; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; }
.get_draw{width: 100%; display: -webkit-box; display: -webkit-flex; display: flex; margin-top:1.5rem; }
.get_draw li{-webkit-box-flex: 1; -webkit-flex: 1; flex: 1; text-align: center; }
.get_btn a{/*background: url(../image/nwf/get_btn.png) no-repeat center; */width: 16rem; height: 3.9rem; background-size: cover; }
.pay_success{width: 25rem; height: 35rem; position: absolute; border-radius: 5px; background: url(../image/index/advertise/advertise_bg.jpg); background-size: 100% 100%; color: #fff; display: none;}
.success_icon{margin-top: 2.5rem; margin-bottom: 2.5rem; width: 5.5rem; height: 5.5rem; background: url(../image/nwf/success_icon.jpg); background-size: 100% 100%; }
.pay_account_detial{width: 22rem; height: 5rem; margin-top: 2.5rem; padding-top: 1rem; border-top: 1px solid #564C43;border-bottom: 1px solid #564C43; }
.pay_account_detial li{line-height: 2rem; padding: 0 2.3rem; font-size: 1.1rem; }
.pay_account_detial li span:first-child{width: 6rem;}
.pay_account_detial li span:last-child{width: 10.5rem; text-align: right;}
.pay_success label{width: 17rem; text-align: right; padding-right: 4rem; margin-top: 1.8rem; font-size: 0.8rem; }
.pay_success .complete{width: 14rem; height: 3.5rem; margin-top: 2rem; background: url(../image/nwf/success_button.jpg); background-size: 100% 100%; }

.hide{visibility:hidden;}
.box{width: 90%; height: 26rem; z-index: 6; background: url(../image/more/user_center/bg.png); background-size: 100% 100%; position: fixed; left: 5%; top:20%; color: #fff; text-align: center; }
.box_head{width: 100%; height: 4rem; font-size: 1.5rem; line-height:4rem; background: url(../image/more/about/contact_box_headbg.png); background-size: 100% 100%; text-align: center; color: #DDC870; }
.box input{width: 15rem; height: 3rem; padding:0 0.5rem; background: url(../image/more/user_center/input_bg.png); background-size: 100% 100%; color:#ccc; }
#mobile_input,#wzf_mobile_input{width:16.7rem; margin-left:3.2rem; float: left; }
#security,#wzf_security{width: 10rem; float: left; margin:2rem 0.2rem 0 3.2rem; }
#security_btn,#wzf_security_btn{width: 6.5rem; color: #fff; height: 3.4rem; text-align: center; background: url(../image/reg&login/security_btn.png); background-size: 100% 100%; float: left; margin-top:1.8rem; }
.for_pay_account{height: 29rem; }
.for_account_con li{padding:0 1rem; position: relative; line-height: 3rem; font-size: 1.2rem; border-top: 1px solid #555; text-align: left; }
.for_account_con li i{width: 1rem; height: 3rem; float: right; background: url(../image/index/goback.png) no-repeat center; background-size:1rem 1rem; -webkit-transform:rotate(-90deg); }
.for_account_con span{width:100%; color: #ccc; font-weight: normal; font-size: 1.2rem; line-height: 1.5rem;	box-sizing:border-box; margin-top:1rem; }
#wzf_user_name{width: 16.7rem; }
.pay_prompt{margin-top:2rem; width:100%;height:3.5rem;display: -webkit-box; display: -webkit-flex; display: flex;}
.pay_prompt li{-webkit-box-flex: 1; -webkit-flex: 1; flex: 1;text-align:center;}
.pay_prompt li button{width:9.75rem;height:3.5rem;}
.pay_sure{background:url(../image/nwf/pay_sure.png) no-repeat;background-size:100% 100%;}
.pay_cancle{background:url(../image/nwf/pay_cancle.png) no-repeat;background-size:100% 100%;}
.complete{width: 9.7rem; height: 3.7rem; margin-top: 2rem; background: url(../image/more/user_center/ok_btn.png); background-size: 100% 100%;}
.close_for_pay_account{ width:3rem;height:3rem;background:url(../image/more/user_center/close_bg.png);background-size:100% 100%; position: absolute; right:1rem; top:0.5rem;}
@media (max-height: 560px){
	.get_draw{margin:0;}
	.banner{height:9rem;}
	.for_pay_account{top:12%;}
	.usable_earning{width:12rem;height:12rem;margin:1rem auto 0;}
}