.time-tag{
    padding:0.5em 0 1em;
    letter-spacing:2px;
}

.pd1{
    padding-bottom:1em;
}
    .pd1 p {
        text-indent:1em;
        text-align:left;
    }


.tl{
    text-align:left;
}
.tc {
    text-align:center;
}
.tr {
    text-align:right;
}



.fz12{
    font-size:12px;
}