/*
* @author koringz
* @data 2015-11-05
* @data 2015-11-05
* @version 0.5.0
*/
html,
body{
	height: 100%;
	font-family:'微软雅黑',Verdana,Arial,Helvetica,sans-serif
}

/* 显示页面块级元素的区域 */
.container{
	height: 100% ;
	min-height: 480px;
	width: 100% ;
	min-width: 280px;
	background-color: #1FA67A
}
/* 这是一个主页的小碎片 */
.platform{
	height: 100%;
	/*width: 100%;
	font-size: 100%;*/
	box-shadow:1px 0px 12px #fff,0px 1px 12px #fff,-1px 0px 12px #fff,0px -1px 12px #fff;
	background-color: #aaA27A
}

/* 所有页面的内容 */
/*login*/
.content{
	margin:0 auto;
	text-align: center;
}
.index{
	padding:5em 0;
}
.login{
	position: relative;
	bottom: 0;
	height: 25em;
	min-height: 30em;
	width: 72%;
	right:14%;
	left: 14%;
}
.my-form{
	width: 20em;
	float: right;
	text-align: right;
}
.my-form >label{
	display: inline-block;
	padding: .5em 0;
	width: 100%;
}
.my-form >input{
	width: 15em;
	height: 3em;
	line-height: 3em;
	margin-top: .3em;
	outline: none;
	border: none;
	text-align: left;
	text-indent: 20px;
	box-shadow: 2px 1px 8px #999;
}
.my-form >a{
	display: block;
	height: 2em;
	line-height: 2em;
	color: #000;
}
.my-form >a:link{
	color: #222;
	text-decoration: none;
}
.my-form >a:active{
	color: #222;
}
.my-form >a:active{
	color: #222;
}

/* regist */
.regist{
	position: relative;
	width: 98%;
	right:1%;
	left: 1%;
}
/*顶部的菜单部分*/
.menu{ 

}
.menu-p{
	display: inline-block;
	width: 100%;
	line-height: 2em;
	margin-top:2em; 
	background-color: #fff;
}
.menu-p >a{
	display: block;
	float: right;
	width: 5em;
}
/*中间区域内容部分*/
.user-form{
	position: relative;
	margin-top: 2em;
	width: 80%;
	right: 10%;
	float: right;
	text-align: right;
	background-color: #fff;
}
.user-form >label{
	display: inline-table;
	padding: 0.5em 0 ;
	width: 100%;
	text-align: left;
}
.user-form >label >span.table-title-name{/* 如果宽度改变，就需要设置字体的大小*/
	display: inline-block;
	width: 36%;
	line-height: 2em;
	text-align: right;
	font-size: 1em;
}
@media screen and (max-width: 720px){
	.user-form >label >span.table-title-name{
		font-size: .8em;
	}
}
@media screen and (max-width: 640px){
	.user-form >label >span.table-title-name{
		font-size: .7em;
	}
}
@media screen and (max-width: 480px){
	.user-form >label >span.table-title-name{
		font-size: .6em;
	}
}
@media screen and (max-width: 320px){
	.user-form >label >span.table-title-name{
		font-size: 6px;
	}
}
.user-form >label >span.version-name{/*这是一个版本号*/
	/*position: relative;*/
	display: block;
	float: right;
	margin-right: 2%;
	width: 6%;
	height: 2em;
	line-height: 2em;
	text-align: left;
	text-indent: 5px;
	font-size: 1em;
	color: #eee;
	overflow: hidden;
	background-color: #888;
}
@media screen and (max-width: 640px){
	.user-form >label >span.version-name{
		font-size: 1em;
		margin-right: 1.5%;
	}
}
/*@media screen (min-width: 720px) and (max-width: 1200px){
	.user-form >label >span.version-name{
		font-size: 1em;
		margin-right: 2.2%;
	}
}
@media screen and (max-width: 640px){
	.user-form >label >span.version-name{
		font-size: 1em;
		margin-right: 2%;
	}
}
@media screen and (max-width: 480px){
	.user-form >label >span.version-name{
		font-size: 1em;
		margin-right: 2%;
	}
}
@media screen and (max-width: 320px){
	.user-form >label >span.version-name{
		font-size: 6px;
	}
}*/
.user-form >label >span.table-notes{
	display: inline-block;
	width: 22%;
	height: 2em;
	line-height: 1.2em;
	text-align: left;
	float: right;
	font-size: .9em; 
	color: #888;
	overflow: hidden;
}
.user-form >label >input[type="text"]{
	width: 40%;
	line-height: 2em;
	text-indent: .5em;
	/*border: none;*/
	outline: none;
	font-size: .8em;
	text-indent: 1em;
	color: #555;
	background-color: #CCCCCC
}
.user-form >label >input[type="text"]:focus{
	background-color: #FFE599
}
.user-form >label >input.product-name{
	width: 33%
}
.user-form >p{
	padding:1em 30% 1em;
	text-align: right
}
.user-form >p >span{
	
}
/* up-regist */
.audit{
	position: fixed;
	width: 80%
}



/* public css styles*/
.h1{font-size: 36px;line-height: 48px}
.h2{font-size: 44px;line-height: 56px}
.h3{font-size: 50px;line-height: 62px}


/* mobile viewport css style */
@media screen (min-height: 540px) and (min-width: 380px){
	.container{
		height: 540px;
		width: 380px
	}
}




































/*
*
*
*/